recent-windows {
    debounce-ms 750
    open-delay-ms 150

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 240
        max-scale 0.5
    }

    binds {
        Control+Tab         { next-window; }
        Control+Shift+Tab   { previous-window; }
        Control+grave       { next-window     filter="app-id"; }
        Control+Shift+grave { previous-window filter="app-id"; }
    }
}
