window-rule {
    match title="Junction"
    open-maximized false
    open-floating true
}

window-rule {
    match title="Mullvad VPN"
    open-maximized false
    open-floating false
}

window-rule {
    match title="IVPN"
    open-maximized false
    open-floating false
}

window-rule {
    match app-id="org.gnome.NautilusPreviewer"
    open-floating true
}

window-rule {
  match app-id="dev.noctalia.Noctalia"
  open-floating true
  default-column-width { fixed 1080; }
  default-window-height { fixed 920; }
}
