{{- $host := index .hosts .chezmoi.hostname | default dict -}}
{{- $roles := $host.roles | default list -}}
if [ -e ~/.shell_timestamps ]; then
	source ~/.shell_timestamps
fi

LAST_PACKAGE_UPDATE="${LAST_PACKAGE_UPDATE:-0}"
LAST_BACKUP="${LAST_BACKUP:-0}"

week_ago_timestamp=$(date -d '7 days ago' +%s)

{{ if has "cachyos" $roles -}}
if [ "$TERM_PROGRAM" != "vscode" ] && [ $LAST_PACKAGE_UPDATE -lt $week_ago_timestamp ]; then
	last_upgrade_date_formatted=$(date -d @$LAST_PACKAGE_UPDATE)
	echo "Last package updates were on $last_upgrade_date_formatted. Would you like to update now?"
	if [[ -t 1 ]] && command -v gum &>/dev/null && gum confirm; then
		~/Documents/development/dotfiles/scripts/update-arch-packages.sh
	fi
	stty sane
fi
{{ end -}}

if [ $LAST_BACKUP -lt $week_ago_timestamp ]; then
	last_backup_date_formatted=$(date -d @$LAST_BACKUP)

	if [[ -t 1 ]] && command -v gum &>/dev/null && gum confirm "Last backup was on $last_backup_date_formatted. Would you like to run it now?"; then
		ssh kraftwerk -t 'zsh -lic "~/dotfiles/scripts/backup.sh"'

		if grep -q "LAST_BACKUP" ~/.shell_timestamps 2>/dev/null; then
			sed -i "s/LAST_BACKUP=.*/LAST_BACKUP=$(date +%s)/" ~/.shell_timestamps
		else
			echo "LAST_BACKUP=$(date +%s)" >>~/.shell_timestamps
		fi
	fi

	stty sane
fi
